
#a4{
    transform: translate(160px,-360px);
}

#b2{
    transform: translateY(120px) rotate(180deg);
}
#b3{
    transform: rotate(180deg);
}
#b4 ,#a2{
    transform: translateY(-120px);
}
#c1{
    transform: translate(-480px,120px);
}
#c2{
    transform: translateX(160px);
}
#c3 , #c4{
    transform: translateX(160px);
}
#d3{
    transform: translateX(-160px);
}
#d4{
    transform: translateY(360px);
}